body {
    background-color: rgb(255, 153, 0);
    background-size: cover;

}

img {
    position: relative;
    top: 30px;
}

.card-title {
    position: relative;
    top: 15px;
}

.card-text {
    position: relative;
    top: 5px;
}

.card {
    position: relative;
    left: 140px;
    top: 100px;
    margin-left: 30px;



}